

@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Vollkorn);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Crete+Round);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@media screen and (min-width: 751px) {

    #navBarSmartPhone {
      display: none;

    }

    .robot {
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      position: relative;
    }

  html {
      min-height: 100%;
  }

  body {

      min-height:100%;
      width: 99%;
      padding-top: 0px;
      background: white; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(163, 208, 160, 0.4)); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(rgba(255, 255, 255, 1), rgba(163, 208, 160, 0.4)); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(rgba(255, 255, 255, 1), rgba(163, 208, 160, 0.4)); /* For Firefox 3.6 to 15 */
      background: linear-gradient(rgba(255, 255, 255, 1), rgba(163, 208, 160, 0.4)); /* Standard syntax (must be last) */




  }


  .boxtext{
      padding: 5px;
      text-align: center;
  }

  .bg-blur {
    	height: 50px;
    	width: 50px;
    	position: absolute;
    	left: 50%;
    	top: 50%;
    	margin-left: -290px;
    	margin-top: -290px;
    	z-index: 0;
  }

  .wrapper {
      z-index: 999;
      position: fixed;
      padding-left: 25px;
      padding-top: 8px;
      width: 200px;
  }



  .pic {
      align: center;
  }

  #show-me {
      visibility: hidden;
      opacity: 0.0;
      position: relative;
  }

  /* text formatting */

  h1 {
      //padding-top: 100px;
      padding-left: 15px;
      color: rgba(105, 145, 102, 1);
      //font-family: 'Playfair Display', serif;
      font-family: 'Pontano Sans', sans-serif;
      //font-family: 'Playfair Display', serif;
      //font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: bolder;
      font-size:450%;
      //text-decoration: underline;
      text-align: center;

  }

  h2 {

      padding-top: 20px;
      color: black;
      padding-left: 20px;
      //color: rgba(163, 208, 160, 1);
      //font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      //font-weight: 300;
      font-family: 'Playfair Display', serif;
      //font-family: 'Pontano Sans', sans-serif;
      font-size:130%;

  }


  h3 {
      text-align: center;
      margin-left: 40px;
      padding-top: 10px;

      font-size: 200%;
      color: rgba(105, 145, 102, 1);
      //font-family: 'Source Sans Pro', sans-serif;
      font-family: 'Slabo 27px', serif;
  }

  p  {

      //color:white;
      color: rgba(0, 0, 0, 1);
      font-family: 'Source Sans Pro', sans-serif;
      padding: 50px;
      font-size:120%;
      font-weight: bold;
      text-align: left;
      text-align: justify;
  }

  h4 {
    text-align: center;
    margin-left: 40px;
    padding-top: 10px;
    font-size:300%;
    color: black;
    font-family: 'Montserrat', sans-serif;

  }

  p2  {
      color:black;
      font-family: 'Source Sans Pro', sans-serif;
      font-size:120%;
      text-align: left;
      text-align: justify;
  }



  .centeredParagraph {

    //color:white;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:150%;
    text-align: center;

  }

  .marginedParagraph  {
      //color:white;
      color: black;
      padding-left: 40px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size:120%;
      text-align: left;

  }

  /* main div elements */

  .first {
      //text-align: left;
      color: rgba(163, 208, 160, 1);

      width: 65%;
      bottom: 0px;
      margin:0 auto;
      min-height: 100% !important;
      padding-top: 100px;
      text-align: justify;
      font-size: 100%;


  }

  .first img {
      margin-right: 15px;
      float: left;
  }

    .circular {
      margin-right: 40px;
      float: left;
    	width: 280px;
    	height: 280px;
    	border-radius: 150px;
    	-webkit-border-radius: 150px;
    	-moz-border-radius: 150px;
    	background: url(me_blink.gif) no-repeat;
      filter: gray; /* For IE6-9 */
      filter: grayscale(1); /* For Microsoft Edge and Firefox 35+ */
      -webkit-filter: grayscale(1); /* For Google Chrome, Safari 6+ & Opera 15+ */
    }

    .circular:hover {
      filter: none;
      -webkit-filter: grayscale(0);
    }

    .webdes {
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      padding-right: 30px;
    }

    .webdev {
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }


.second {
    text-align: left;

    width: 80%;
    bottom: 0px;
    margin:0 auto;
    height: 100%;
    padding: 40px;


}

.third {
    text-align: center;
    float: center;
    width: 80%;
    bottom: 0px;
    margin:0 auto;
    height: 100%;
    //padding: 40px;
    padding-top: 80px;
    align-content: center;


}

.fourth {
    text-align: center;
    float: left;
    width: 50%;
    bottom: 0px;
    margin:0 auto;

    height: 100%;
    padding-left: 40px;


}

h1 .softvare{
  padding-left: 15px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bolder;
  font-size:400%;
  text-decoration: underline;
  color: rgba(163, 208, 160, 1);
}

.first a.menulink:hover {
  color: rgba(255, 255, 255, 0.5);
}

.logoPic {
    text-align: right;

    width: 100%;
    bottom: 0px;
    margin:0 auto;
    min-height: 100% !important;
    //padding-top: 30px;


}

.picture {
    text-align: center;

    //background-color: rgba(51, 51, 51, 1);
    width: 100%;
    //bottom: 0px;
    //margin:0 auto;

    margin-top: 20px;


}

.picture img {
  border-radius: 15px;
  height: 600px;
  align: center;
}

.changeLanguage{
  color: gray;

}

.changeLanguage a:visited{
  color: gray;

}

.changeLanguage a:active{
  color: gray;

}

.thumbnail {
  float: left;
  margin: 10px;
  position: relative;
  width: 280px;
  height: 280px;
  overflow: hidden;

  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  -o-filter: blur(1px);
  filter: blur(1px);
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.thumbnail:hover {

      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -ms-filter: blur(0px);
      -o-filter: blur(0px);
      filter: blur(0px);
}

.thumbnail .text {
  width: 280px;
  //height: 10px;
position:relative;
bottom:-100px;
left:0px;
background-color: rgba(0, 0, 0, 0.8);
//background-color: rgba(255, 255, 255, 0.5);
visibility:hidden;
color: white;
//color: #BFF29E;
font-family: 'Pontano Sans', sans-serif;
font-size: 200%;
align-content: center;
padding: 0px;
text-align: center;
}

.thumbnail:hover .text {
visibility:visible;
}


/* navigation bar */




#navBar {


  position: fixed;

    top: -20px;
    left: 0px;
    right: 0px;
    width: 98%;
    z-index: 900;

  list-style:none;
  align-content: right;
  /* VOLT background-color: rgba(131, 170, 75, 1); */

  background-color: rgba(51, 51, 51, 1);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: right;
  font-family: 'Slabo 27px', serif;
  //font-family: 'Pontano Sans', sans-serif;
  //font-family: 'Playfair Display', serif;
  //font-family: 'Crete Round', serif;
  //font-family: 'Roboto Slab', serif;
  //font-family: 'Merriweather', serif;
  //font-family: 'Bree Serif', serif;
  //font-family: 'Helvetica', sans-serif;
  //font-style: italic;;
  font-size: 125%;

}




#navBar ul {
  padding-right: -100px;
}

#navBar li {
    color: black;
    display: inline;
    padding-right: 80px;

    //text-transform: uppercase;

}

#navBar li > div.active {
    color: rgba(105, 145, 102, 1) !important;
    text-decoration: underline;
    display: inline;
    //padding-right: 20px;
    //padding-left: 20px;
    //color: black;
    //background-color: rgba(70, 140, 105, 1);
    //background-color: rgba(167, 172, 85, 1);
    //padding-top: 20px;
    //padding-bottom: 20px;


}

#navBar li > div.logo {
    float: left;
    color: gray;
    font-size: 120%;
    font-family: 'Helvetica', sans-serif;

    font-weight: bold;

    height: 100%;



 }

div.back {
  color: rgba(131, 170, 75, 1);
  font-family: 'Source Sans Pro', sans-serif;
}



#navBar a.menulink:hover {

    color: rgba(105, 145, 102, 1);

    padding-top: 20px;
    padding-bottom: 20px;

    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;

}


#navBar a.menulink:active {
    color: rgba(105, 145, 102, 1);
    color: black;
}

#navBar .smartphone {
  display: none;

}

a.menulink:link {
    color: rgba(163, 208, 160, 1);
    text-decoration: none;
}

a.menulink:visited {
  color: rgba(163, 208, 160, 1);
    //color: white;
}

.lang{
  display: inline-block;
  padding: 0px;
}

a.language:link{
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;

}

a.language:visited{
  color: rgba(255, 255, 255, 0.5);
}

a.language:active{
  color: rgba(255, 255, 255, 0.5);
}



#pageFooter {
   font-size: 80%;
   color: white;
   font-family: Century Gothic, sans-serif;
   position:absolute;
   left: 0px;

   bottom:0px;
   padding-top: 20px;
   height:150px;
   width:100%;
   background-color: rgba(105, 145, 102, 1);
   text-align: center;
}



/* stripes */


#thing {
    height: 200px;
    background-image: linear-gradient(-45deg, black 25%, transparent 25%, transparent 50%, black 50%, black 75%, transparent 75%, transparent);
    background-size: 4px 4px;
}

body { margin: 0; }

/* text animation */


/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {color: rgba(163, 208, 160, 1);}
    to {color: rgba(105, 145, 102, 1);}
}

/* Standard syntax */
@keyframes example {
  from {color: rgba(163, 208, 160, 1);}
  to {color: rgba(105, 145, 102, 1);}
}

}

/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------- FOR SMARTPHONE -------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 750px) {

body {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(74, 106, 146, 0.3)); /* Standard syntax (must be last) */
  //background-color: rgba(74, 106, 146, 0.3);
  //background-color: rgba(70, 140, 105, 0.3);
  height:100%;
  width: 99%;
  padding-top: 0px;
  //background: -webkit-linear-gradient(rgba(70, 140, 105, 1), rgba(51, 51, 51, 1)); /* For Safari 5.1 to 6.0 */
  //background: -o-linear-gradient(rgba(70, 140, 105, 1), rgba(51, 51, 51, 1)); /* For Opera 11.1 to 12.0 */
  //background: -moz-linear-gradient(rgba(70, 140, 105, 1), rgba(51, 51, 51, 1)); /* For Firefox 3.6 to 15 */
  //background: linear-gradient(rgba(70, 140, 105, 1), rgba(51, 51, 51, 1)); /* Standard syntax (must be last) */

}

/*
  #navBarSmartPhone {

    top:-10px;
    left: -10px;
    right: 0px;
    z-index: 9999;
    height: 80px;
    background: rgba(51, 51, 51, 1);
    position: fixed;
  }

  #navBarSmartPhone li > div.active {


      text-decoration: underline;


   }

  #menuBtn {
    position: absolute;
    top:0;
    right: 0;
    height: 80px;
    width: 100px;
    background: rgba(70, 140, 105, 1);
    color: #fff;
    line-height: 80px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 300%;
   }

  #myMenu {
    display: none;


  }
  #myMenu ul {
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 80px;
    left: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: rgba(51, 51, 51, 0.95);

  }
  #myMenu li {

    text-align: center;
    height: 40px;
    line-height: 40px;
    //background: rgba(51, 51, 51, .,8);
    //background: rgba(70, 140, 105, 1);
    width: 100%;
    margin: 0;
    //border-bottom: 1px solid rgba(255, 255, 255, 0.5);;
    list-style: none;
    font-size: 200%;
    text-transform: uppercase;
    padding: 20px;

  }

  #myMenu li a:hover {
    color: rgba(255, 255, 255, 0.5);

  }



  #myMenu li a {
    color: white;
    text-decoration: none;

  }

  #myMenu li a:active {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;

  }

  #navBar {
    display: none;
  }
*/

  h1 {
      padding-top: 15px;
      padding-left: 15px;
      color: white;
      //color: rgba(70, 140, 105, 1);
      font-family: 'Cantata One', serif;
      //font-family: Century Gothic, sans-serif;
      font-weight: bolder;
      font-size:250%;
  }

  h2 {
      padding-top: 50px;
      color: black;
      font-family: Century Gothic, sans-serif;
      font-weight: bold;
      font-size:200%;

  }


  h3 {
    text-align: center;
    margin-left: 40px;
    padding-top: 10px;
    font-size:300%;

    color: rgba(70, 101, 140, 1);
    font-family: 'Source Sans Pro', sans-serif;
  }

  p  {
      width: 100%;
      color:black;
      font-family: 'Source Sans Pro', sans-serif;
      padding: 20px;
      font-size:100%;
      text-align: left;
      text-align: justify;
      font-weight: bolder;
  }

  h4 {
    text-align: center;
    margin-left: 40px;
    padding-top: 10px;
    font-size:200%;
    color: black;
    font-family: 'Montserrat', sans-serif;

  }

  .marginedParagraph  {
      color:black;
      padding-left: 40px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size:120%;
      text-align: left;

  }

  .first a:hover {
    color: rgba(0, 0, 0, 0.3);
  }

  .first a {
    color:black;
    font-size: 120%;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .centeredParagraph {

    color:black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:100%;
    text-align: center;

  }

.siteFooter {
  align-content: center;
  background-color: white;
  height: 200px;
  bottom: 0px;
  margin: 0;
}



  /* main div elements */

  .first {
      text-align: left;
      //border-left: 4px solid rgba(70, 140, 105, 0.5);
      width: 100%;
      bottom: 0px;
      margin:0 auto;
      min-height: 100% !important;
      padding-top: 0px;


  }

  .second {
      text-align: left;
      font-size: 80%;
      width: 100%;
      bottom: 0px;
      margin:0 auto;
      height: 100%;
      padding: 40px;
      min-height: 100% !important;

  }

  .third {
      text-align: center;
      float: center;
      width: 100%;
      bottom: 0px;
      margin:0 auto;
      height: 100%;
      padding: 40px;
      min-height: 100% !important;

  }

  .fourth {
      text-align: center;
      float: left;
      width: 100%;
      bottom: 0px;
      margin:0 auto;

      height: 100%;
      padding-left: 40px;
      min-height: 100% !important;

  }






  .logo {
      float: left;
      padding-left: 40px;
      padding-top: 30px;
      font-family: 'Source Sans Pro', sans-serif;

      font-weight: bold;

      height: 100%;
      -webkit-animation-name: example; /* Chrome, Safari, Opera */
      -webkit-animation-duration: infinite; /* Chrome, Safari, Opera */
      animation-name: example;
      animation-duration: infinte;


   }

   .logo a:hover{
       color:rgba(70, 140, 105, 0.5);


    }

    .logo a {
        color: rgba(70, 140, 105, 1);
        text-decoration: none;
        font-size: 100%;
        -webkit-animation-name: example; /* Chrome, Safari, Opera */
        -webkit-animation-duration: infinite; /* Chrome, Safari, Opera */
        animation-name: example;
        animation-duration: infinte;

     }


     .thumbnail {
       float: left;
       margin: 10px;
       position: relative;
       width: 280px;
       height: 280px;
       overflow: hidden;

       -webkit-filter: blur(1px);
       -moz-filter: blur(1px);
       -ms-filter: blur(1px);
       -o-filter: blur(1px);
       filter: blur(1px);
     }
     .thumbnail img {
       position: absolute;
       left: 50%;
       top: 50%;
       height: 100%;
       width: auto;
       -webkit-transform: translate(-50%,-50%);
           -ms-transform: translate(-50%,-50%);
               transform: translate(-50%,-50%);
     }
     .thumbnail img.portrait {
       width: 100%;
       height: auto;
     }

     .thumbnail:hover {

           -webkit-filter: blur(0px);
           -moz-filter: blur(0px);
           -ms-filter: blur(0px);
           -o-filter: blur(0px);
           filter: blur(0px);
     }

     .thumbnail .text {
       width: 280px;
       height: 10px;
     position:relative;
     bottom:-150px;
     left:0px;
     background-color: rgba(255, 255, 255, 0.5);
     visibility:hidden;
     color: black;
     //color: #BFF29E;
     font-family: 'Pontano Sans', sans-serif;
     font-size: 200%;
     align-content: center;
     }

     .thumbnail:hover .text {
     visibility:visible;
     }


   /* Chrome, Safari, Opera */
   @-webkit-keyframes example {
       from {color: white;}
       to {color: rgba(255, 255, 255, 0.5);}
   }

   /* Standard syntax */
   @keyframes example {
       from {color: white;}
       to {color: rgba(255, 255, 255, 0.5);}
   }







}
